*{
    box-sizing: border-box;
    color: white;
}

body{
    background-image: url(imgs/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#Logo{
    margin: auto;
    display: block;
}

h1{
    align-items: center;
}

#carta-ametal{
    height: 205px;
    width: 155px;
    transition: all .5s;
    float: left;
    padding: 10px;
    margin: 10px;
}

#cartaExem{
    margin-top: 60px;
}