*{
    box-sizing: border-box;
    color: white;
}

.paprika-regular {
  font-family: "Paprika", system-ui;
  font-weight: 400;
  font-style: normal;
}


body{
    background-image: url(imgs/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 60px;
}

p {
    text-align: justify;
}

#Logo{
    margin: auto;
    margin-top: 10px;
    display: block;
}

#sobre {
    font-size: 20px;
    color: rgb(245, 7, 245);
    text-shadow: 2px 2px black;
    font-family: 'Paprika';
    text-align: left;
}

h1{
    font-size: x-large;
    color: rgb(156, 33, 156);
    text-shadow: 2px 2px black;
    font-family: 'Paprika';
    text-align: center;
}

h2{
    font-size: 20px;
    color: rgb(245, 7, 245);
    text-shadow: 2px 2px black;
    font-family: 'Paprika';
    text-align: center;
}

#listadecartas {
    text-align: center;
}

ul{
    display: inline-block;
    text-align: left;
    font-size: 25px;
}

.carta-container {
    grid-column: 2 / 3;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: auto 1fr;
}

#cartas h3, p {
    grid-column: 2 / 3;
}

#cartas h3 {
    grid-row: 1 / 2;
}

#cElemento {
    grid-row: 3 / 4;
}

#cLigacao {
    grid-row: 4 / 5;
}

#cMultiplicador {
    grid-row: 5 / 6;
}

.carta-texto {
    font-size: 18px;
    color: white;
    text-align: center;
    clear: right;
}

.carta{
    width: 150px;
    margin-bottom: 0;
    padding: 10px;
    display: block;
    float: left;
    grid-row: 1 / 3;
    align-self: center;
}

.carta-container p {
    grid-row: 0 / 3;
    text-align: justify;
}

h3{
    text-align: center;
}

#explain {
    text-align: center;
}

.special{
    clear: both;
}

b{
    color: rgb(156, 33, 156);
    font-weight: bold;
    font-size: 18px;
}

em{
    display: block;
    font-size: medium;
    font-family: Helvetica;
    text-align: center;
}

#cartas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 800px));
    grid-template-rows: auto auto auto auto auto;
    justify-content: center;
}

#carta-gas {
    width: 250px;
    margin-bottom: 0;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table{
    background-color: rgb(41, 7, 41);
    margin: auto;
    border: 1px solid rgb(156, 33, 156);
    height: fit-content;
    width: fit-content;
    text-align: center;
}

th{
    color: rgb(245, 7, 245);
    font-size: 20px;
    background-color: rgb(250, 255, 255);
}

td{
    border-collapse: collapse;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    background-image:  linear-gradient(rgb(41, 7, 41), rgb(68, 7, 41));
    color: rgb(245, 7, 245);
    font-size: 20px;
    margin: 0;
    padding: 0;
}
header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.menu {
    list-style: none;
    padding: 20px 0 17px 0;
    margin: 0;
    background: transparent;
}
header a {
    color: rgb(245, 7, 245);
    font-family: 'Paprika', cursive;
    font-size: 20px;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.2s, color 0.2s;
    margin: 0px 15px;
    text-align: center;
}
header a:hover {
    background: rgb(156, 33, 156);
    color: white;
    text-decoration: underline white;
}
